# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit and model artifacts
*.pkl
*.joblib
*.h5
*.onnx
*.pth

# OS files
.DS_Store
Thumbs.db

# IDE/project files
.vscode/
.idea/

# Local data and model artifacts
models/
user_profiles/
*.db
